[submodule ".registry"]
	path = .registry
	url = https://github.com/omega1x/universe
	branch = HEAD
[submodule "pipenostics"]
	path = pipenostics
	url = https://github.com/omega1x/pipenostics
[submodule "wsif97"]
	path = wsif97
	url = https://github.com/omega1x/wsif97
